<%= form_with(model: manga, local: true) do |form| %>
  <% if manga.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manga.errors.count, "error") %> prohibited this manga from being saved:</h2>

      <ul>
        <% manga.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-sm-5">
    <%= form.label :title, class:"col-form-label fs-4" %>
    <%= form.text_field :title, class:"form-control" %>
  </div>

  <div class="field col-sm-5">
    <%= form.label :category_id, class:"col-form-label fs-4" %>
    <%= form.collection_select :category_id, Category.all, :id, :category, class:"form-control"  %>
  </div>

  <div class="field col-sm-5">
    <%= form.label :author_id, class:"col-form-label fs-4" %>
    <%= form.collection_select :author_id, Author.all, :id, :name, class:"form-control" %>
  </div>

  <div class="field col-sm-5">
    <%= form.label :description, class:"col-form-label fs-4"  %>
    <%= form.text_area :description, class:"form-control"  %>
  </div>
  
  <div class="field col-sm-5">
    <%= form.label :image, class:"col-form-label fs-4" %>
    <%= form.file_field :image, class:"form-control" %><br>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
