<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'マンガー世界', root_path, class:"navbar-brand fs-3"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item fs-5">
          <%= link_to 'About Us', home_about_path, class:"nav-link" %>
        </li>

        <% if user_signed_in? %>
            <li class="nav-item fs-5">
              <%= link_to 'マンガー', mangas_path, class:"nav-link" %>
            </li>
            <li class="nav-item fs-5">
              <%= link_to '著者', authors_path, class:"nav-link" %>
            </li>
            <li class="nav-item fs-5">
              <%= link_to '種類', categories_path, class:"nav-link" %>
            </li>
            <li class="nav-item fs-5">
              <%= link_to '最近のレビュー', reviews_path, class:"nav-link" %>
            </li>
            <li class="nav-item btn-group">
              <button type="button" class="btn btn-outline-secondary dropdown-toggle fs-5" data-bs-toggle="dropdown" aria-expanded="false"> 
                <% if current_user.name != "" %>
                  <%= current_user.name %>
                <% else %>
                  <%= current_user.email %>
                <% end %>
              </button>
              <ul class="dropdown-menu dropdown-menu-dark fs-5" aria-labelledby="dropdownMenuClickableInside">
                <li><%= link_to '情報', users_profile_path, class:"dropdown-item" %></li>
                <li><%= link_to '情報整理', edit_user_registration_path, class:"dropdown-item" %></li>
                <li><%= link_to '趣味', favourites_path, class:"dropdown-item" %></li>
                <li><%= link_to 'サインアウト', destroy_user_session_path, method: :delete, class:"dropdown-item" %></li>
              </ul>
            </li>
        <% else %>
            <li class="nav-item fs-5">
              <%= link_to 'ログイン', new_user_session_path, class:"nav-link" %>
            </li>
            <li class="nav-item fs-5">
              <%= link_to 'サインアップ', new_user_registration_path, class:"nav-link" %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>