<h1>Recent reviews</h1>
<% if @reviews.count > 0 %>
<table class="table">
  <thead class="table-dark fs-5">
    <tr>
      <th>User</th>
      <th>Manga</th>
      <th>Rate</th>
      <th>Comment</th>
      <th>Time</th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <% if review.user.name != "" %>
	  <td><%= link_to review.user.name, "#", class: "btn btn-outline-primary" %> </td>
        <% else %>
	  <td><%= link_to review.user.email, "#", class: "btn btn-outline-primary" %> </td>
        <% end %>
        <% if review.manga %>       
          <td><%= link_to review.manga.title, review.manga, class: "btn btn-outline-dark" %> </td>
        <% else %>
          <td><%= link_to "Deleted", "#", class: "btn btn-outline-dark" %> </td>
        <% end %>
        <td><%= link_to review.rate, "#", class:"btn btn-outline-dark" %></td>
        <td><%= link_to review.comment, "#", class: "btn btn-outline-dark" %> </td>
        <td><%= link_to review.created_at.localtime.strftime("%d/%m/%Y %H:%M:%S"), "#", class: "btn btn-outline-dark" %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p class="fs-4">No review</p>
<% end %>